{% extends 'base.html.twig' %}

{% block title %}Virement{% endblock %}

{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="box_compte">
        <div class="box_compte_login">
            <h1>Virement</h1>
        </div>

        <div class="box_compte_login">
            {{ form_start(form) }}
                {{ form_row(form.debit) }}
                {{ form_row(form.credit) }}
                {{ form_row(form.montant) }}
                <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
